body {
  background-color: #17252a;
  font-family: 'Righteous', cursive;
}

.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #def2f1;
}

.topnav a {
  color: #17252a;
  padding: 3px;

  text-decoration: none;

  font-family: 'Righteous', cursive;
}

a:hover {
  background-color: #2b7a78;
  color: #def2f1;
}

.intro {
  padding: 60px;
  text-align: center;
  background-image: url(cloudforest.jpg);
  color: #17252a;
  height: 100vh;
  font-family: 'Righteous', cursive;
}
.intro button {
  background-color: #17252a;
  color: #def2f1;
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  font-family: 'Righteous', cursive;
}

.intro button:hover {
  border: solid 2px white;
  width: 200px;
}

.aboutMe {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #def2f1;
}

#profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5%;
}

.dogPic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5%;
  padding: 5px;
}
